@import "../tasks/css/bulma/css/bulma.css";

.navbar-brand .logo {
	position: relative;
	top: -2px;
}

.navbar-brand .logo span {
	margin-right: 10px;
	font-size: 36px;
}

.project-card .icon.disabled {
	filter: grayscale(100%);
}

.tabs-content > div {
	display: none;
}

.tabs-content > div.active {
	display: flex;
}

.tabs-content .pagination {
	justify-content: center;
}

.tabs-content .pagination-list {
	flex-grow: 0;
}

/*===============================*/
/*pagination*/
/*===============================*/

.pagination{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 30px;
}

.pagination-item a{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color:#625f5c;
	text-decoration: none;
}

.pagination-item{
	margin:10px;
	padding: 5px 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 40px;
	color:#625f5c;
	text-decoration: none;
}

.pagination-item:hover{
	cursor: pointer;
}

.pagination-item:hover{
	cursor: pointer;
	border-radius: 20px 20px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
}

.pagination-item-active{
	border-radius: 20px 20px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2) !important;
	cursor: default !important;
}

.pagination-item-active a{
	cursor: default !important;
}

.pagination-item-no-active, .pagination-item-no-active a{
	cursor: default !important;
	box-shadow: none !important;
}